
/*  */

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-banner {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
body{
    background-color: rgba(78, 71, 255, 0.1);
}

.text-primary{
    color: #a4a1ff;
}
.btn-primary{
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.contact-btn{
    font-family: "Raleway", sans-serif;
    background-color: rgba(78, 71, 255, 0.1);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
/* header */
header{
    background-image: url('../Assets/Hero-bg.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
}

/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.banner-content{
    text-align: center;
    max-width: 800px;
}

.banner-content h1{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;

}

.action{
    display: flex;

    color: rgba(37, 36, 50, 1);
    padding: 80px 150px;
    align-items: center;
    justify-content: space-between;
}

.action-container{
    max-width: 800px;
    align-items: center;

}

.action-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.action-title h5{
    font-size: 38px;
    font-weight: 700;
}

.action-description{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.action-images{
    border-radius: 25px;
    background: url(../Assets/wc-mini.png);
    background-repeat: no-repeat;
    width: 403px;
    height: 328px;
}

.achieved{
    background-color: rgba(75, 68, 255, 0.1);
    padding: 50px 80px;
    margin: 80px auto;
    border-radius: 24px;
    max-width: 800px;
    text-align: center;
}

.stats-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.stats-title {
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #252432;
  font-size: 38px;
  margin: 0px;
}

.stat-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.stat-number{
    font-family: "Inter", Helvetica;
    font-weight: 700;
    font-size: 80px;
    background: linear-gradient(to right, #9403FD, #4E47FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0px;
}
.stat-label{
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}